In [2]:
import pandas as pd

In [3]:
file = "/content/drive/MyDrive/Tugas CP Ananta/fitness_dataset.csv"
df = pd.read_csv(file)

df

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender,is_fit
0,56,152,65,69.6,117.0,NaN,2.37,3.97,no,F,1
1,69,186,95,60.8,114.8,7.5,8.77,3.19,0,F,1
2,46,192,103,61.4,116.4,NaN,8.20,2.03,0,F,0
3,32,189,83,60.2,130.1,7.0,6.18,3.68,0,M,1
4,60,175,99,58.1,115.8,8.0,9.95,4.83,yes,F,1
...,...,...,...,...,...,...,...,...,...,...,...
1995,52,173,98,60.7,106.1,NaN,1.54,3.25,1,M,1
1996,61,186,74,51.4,123.8,9.4,8.63,3.15,no,M,1
1997,77,198,89,76.7,103.6,8.3,1.98,3.36,yes,M,0
1998,62,190,63,80.7,115.9,6.7,9.21,2.39,1,F,0
1999,51,166,78,89.3,101.8,8.3,4.42,1.02,1,M,0

# **Business Understanding - Fitness Prediction Analysis**

## **Business Objective**

Dataset ini berisi informasi kesehatan dan gaya hidup individu yang digunakan untuk menentukan atau memprediksi tingkat kebugaran seseorang, dengan bikin model prediksi yang akurasinya di atas 80%, lalu cari tahu 3 faktor paling penting yang ngaruh ke kebugaran dan juga ingin mengelompokkan pengguna berdasarkan kondisi kesehatannya agar layanan lebih pas. Dataset ini memiliki 2000 baris 11 kolom

## **Assess Situation**

Data ini digunakan untuk ngecek kondisi data yang kita punya. Ada 2000 data dengan 11 informasi seperti umur, tinggi, berat, detak jantung, dan lainnya.

## **Analytic Goals**

Tujuan teknisnya seperti apa...
* klasifikasi fit atau tidak.
* cari tahu faktor paling penting.
* bandingkan beberapa model machine learning.
* metriknya pake akurasi, precision, recall dan lainnya.

## **Project plan**

Rencana kerja 6 minggu:
* Minggu pertama pahami bisnisnya.
* Minggu kedua eksplorasi data.
* Minggu ketiga bersihin data.
* Minggu keempat bikin model.
* Minggu kelima evaluasi model.
* Minggu keenam dokumentasi dan presentasi.